{% extends 'base.html' %}
{% block body %}

<style>
  .loginPanel {
    width: 550px;
    padding: 10% 0 0;
    margin: auto;
  }
</style>

<script>
  function openOAuth() {
    window.location.href = `https://github.com/login/oauth/authorize?client_id=437efa9526ca788ce42f`
  }
</script>

<div class="loginPanel">
  <center><img style="width: 400px; padding: 5%" src="https://miro.medium.com/max/1200/1*dDNpLKu_oTLzStsDTnkJ-g.png">
  </center>
  <div class="card">
    <div class="card-header">
      <h5>GitHub Commits</h5>
    </div>
    <div class="card-body">
        <button onclick="openOAuth()" class="btn btn-primary btn-block" type="submit">Sign in with GitHub</button> <br>
    </div>
  </div>
</div>


{% endblock %}
