.commits {
  div.commit_key {
    margin-top: 15px;
    margin-left: -31px;
    color: #586069;
  }

  div.commit-group-title {
    margin-top: 15px;
    margin-left: -7px;
    color: #586069;
    display: -webkit-box;
  }

  .commit-group {
    margin-top: 5px;
    list-style-type: none;
    display: -webkit-flex;
  }

  .table-list-bordered {
    border-bottom-color: #eaecef;
  }

  .table-list {
    display: table;
    width: 95%;
    color: #6a737d;
    table-layout: fixed;
    border-bottom: 1px solid #e1e4e8;
  }

  ol,
  ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    border: 0.1px solid #e1e4e8;
    margin-left: 20px;
    list-style-type: none;
  }

  p.commit_date {
    margin-top: -2px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;

    span {
      color: #666;
      font-size: 16px;
      margin-left: 5px;
    }
  }

  .commit {
    padding: 5px;
    display: flex;
    flex-direction: row;
    border: 0.5px solid #e1e4e8;


    span.commit_name {
      font-size: 16px;
      font-weight: bold;
      color: #333;
    }

    span.author {
      font-weight: 500;
      color: #433;

      a {
        background: transparent;
        border: none;
        font-weight: bold;
        font-size: 13px;
        color: lightcoral;
        cursor: pointer;
      }
    }

    img.authorImg {
      margin-top: 15px;
      width: 30px;
      height: 30px;
      border-radius: 5px;
    }

    .left {
      margin-left: 10px;
    }

    .right {
      margin: 5px 0px 0px 10px;
      display: flex;
      flex-direction: column;
    }
  }

  .loadmore {
    margin-top: 20px;
    width: 95%;
    margin-left: 17px;
  }
}

div.commits-listing::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 14px;
  z-index: -1;
  display: block;
  width: 2px;
  content: "";
  background-color: #eff1f3;
}
